name = "mpi-cartesian-library"
version = "v0.1.0"
license = "LICENSE"
author = "Matthew Alexandrakis"
maintainer = "matthaios.alexandrakis@gre.ac.uk"
copyright = "Copyright 2024, Matthew Alexandrakis"

[build]
auto-executables = true
auto-tests = true
auto-examples = true
module-naming = false

[install]
library = false

[fortran]
implicit-typing = true
implicit-external = true
source-form = "free"

[dependencies]
mpi = "*"

[extra.fortitude.check]
preview = true
line-length = 132
ignore =[
    "S232", # Whitespace included in 'in out'
]
